/*--------------------*\
    # CUSTOM
\*--------------------*/
time {
    display: none;
}

main section {
    background-color: var(--background-color);
    padding: var(--baseline);
    border: solid 2px var(--border-color);
    margin-bottom: 1em;
}

main section ul {
    margin-top: 1em;
    list-style-type: none;
    padding-left: 0em;
}

main section ul li {
    margin-bottom: var(--baseline);
}

main section ul li.active {
    background-color: var(--secondary-color-dark);
    color: var(--secondary-color-text);
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {
    main section {
        width: 16em;
        float: right;
        margin-left: 1em;
        margin-bottom: 0em;
    }
}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}

.model {
    display: none;

    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;

    width: 100%;
    height: 100%;

    overflow: auto;

    background-color: rgba(0, 0, 0, 0.85);
}

.model .model-container {
    margin: 5% auto;
    width: 90%;
}

@media only screen and (min-width: 600px) {}

@media only screen and (min-width: 768px) {
    .model .model-container {
        width: 720px;
    }
}

@media only screen and (min-width: 992px) {}

@media only screen and (min-width: 1200px) {}

.model .model-container .model-content {
    background-color: var(--background-color);
    padding: 20px;
}

.model .model-container .model-content iframe {
    width: 100%;
    height: 640px;
}

.model .model-container header {
    overflow: auto;
    margin: 0px;
}

.model .model-container header button.close {
    float: right;

    width: 3rem;
    margin: var(--baseline);
}