/*--------------------*\
    # CUSTOM
\*--------------------*/
time {
    display: none;
}

main section {
    background-color: var(--background-color);
    padding: var(--baseline);
    border: solid 2px var(--border-color);
    margin-bottom: 1em;
}

main section ul {
    margin-top: 1em;
    list-style-type: none;
    padding-left: 0em;
}

main section ul li {
    margin-bottom: var(--baseline);
}

main section ul li.active {
    background-color: var(--secondary-color-dark);
    color: var(--secondary-color-text);
}

@media only screen and (min-width: 600px) {

    /*testing*/
    /* header>summary::after {
        content: " width: small";
    } */
}

@media only screen and (min-width: 768px) {

    /*testing*/
    /* header>summary::after {
        content: " width: medium";
    } */

    main section {
        width: 16em;
        float: right;
        margin-left: 1em;
        margin-bottom: 0em;
    }
}

@media only screen and (min-width: 992px) {

    /*testing*/
    /* header>summary::after {
        content: " width: large";
    } */
}

@media only screen and (min-width: 1200px) {

    /*testing*/
    /* header>summary::after {
        content: " width: extra large";
    } */
}