
<div id="pnlFeedback" class="model">
    <div class="model-container">
        <header>
            <button id="btnClose" class="icon close">&times;</button>
            <h2>{{#isTurkish}}Geri Bildirim Anketi{{/isTurkish}}{{#isEnglish}}Feedback Survey{{/isEnglish}}</h2>
        </header>

        <div class="model-content">
            
            <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSewJ_x10HBlFs2lO2zHUBI3ZeSdEXaISpK292RPJBoZyeC1HA/viewform?embedded=true"
            frameborder="0" marginheight="0" marginwidth="0" rel="nofollow">Loading…</iframe>

        </div>
    </div>
</div>