    <i class="menu-icon">&#9776;</i>
        <ul>
        {{#menu}}
            <li><a href="{{& url}}">{{title}}</a></li>
        {{/menu}}
            <li>
                <button id="btnFeedback" class="icon feedback" title="{{#isEnglish}}Feedback{{/isEnglish}}{{#isTurkish}}Geri Bildirim{{/isTurkish}}">&nbsp;</button>

                <button id="btnDarkTheme" class="icon dark-theme" title="{{#isEnglish}}Dark Theme{{/isEnglish}}{{#isTurkish}}Koyu Tema{{/isTurkish}}">&nbsp;</button>
                <button id="btnLightTheme" class="icon light-theme" title="{{#isEnglish}}Light Theme{{/isEnglish}}{{#isTurkish}}Açık Tema{{/isTurkish}}">&nbsp;</button>

                {{#isEnglish}}
                    <button id="btnTurkish" class="icon turkish" title="Turkish">&nbsp;</button>
                {{/isEnglish}}

                {{#isTurkish}}
                    <button id="btnEnglish" class="icon english" title="İngilizce">&nbsp;</button>
                {{/isTurkish}}
            </li>
        </ul>