    <i class="menu-icon">&#9776;</i>
        <ul>
        {{#menu}}
            <li><a href="{{& url}}">{{title}}</a></li>
        {{/menu}}
            <li>
                <button id="btnDarkTheme" class="icon">&#127770;</button>
                <button id="btnLightTheme" class="icon">&#127774;</button>

                {{#isEnglish}}
                    <button id="btnTurkish" class="icon">🇹🇷</button>
                {{/isEnglish}}

                {{#isTurkish}}
                    <button id="btnEnglish" class="icon">🇺🇸</button>
                {{/isTurkish}}
            </li>
        </ul>