    <i class="menu-icon">&#9776;</i>
        <ul>
        {{#menu}}
            <li><a href="{{& url}}">{{title}}</a></li>
        {{/menu}}
            <li>
                <button id="btnFeedback" class="icon" title="{{#isEnglish}}Feedback{{/isEnglish}}{{#isTurkish}}Geri Bildirim{{/isTurkish}}">&#128640;</button>

                <button id="btnDarkTheme" class="icon" title="{{#isEnglish}}Dark Theme{{/isEnglish}}{{#isTurkish}}Koyu Tema{{/isTurkish}}">&#127770;</button>
                <button id="btnLightTheme" class="icon" title="{{#isEnglish}}Light Theme{{/isEnglish}}{{#isTurkish}}Açık Tema{{/isTurkish}}">&#127774;</button>

                {{#isEnglish}}
                    <button id="btnTurkish" class="icon" title="Turkish">🇹🇷</button>
                {{/isEnglish}}

                {{#isTurkish}}
                    <button id="btnEnglish" class="icon" title="İngilizce">🇺🇸</button>
                {{/isTurkish}}
            </li>
        </ul>