<!DOCTYPE html>
<html lang="{{language}}">

<head>
    <base href="{{& base-url}}">

    <meta charset="UTF-8">
    <!-- Site Verification -->
    <meta name="yandex-verification" content="31a29a16b97b37a8" />
    <meta name="msvalidate.01" content="578B5091D7C5A2C03BE2EE0DF0CCC024" />
    <meta name="google-site-verification" content="7pv7CpUtN5qt6uIgrmkOjVK03wSJYs1vQKRiBESB978" />
    <!-- Site Verification -->

    <link rel="profile" href="https://gmpg.org/xfn/11">
    <meta name="description" content="{{& description}}">
    <meta name="author" content="{{author}}">
    <meta name="robots" content="index, follow, max-image-preview:large, max-snippet:-1, max-video-preview:-1" />
    
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap" rel="stylesheet">

    <link rel="canonical" href="{{& canonical}}">
    {{#alternate}}
    <link rel="alternate" hreflang="{{language}}" href="{{& href}}" />
    {{/alternate}}

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{site-title-prefix}}{{title}}</title>

    <link rel="stylesheet" href="{{& base-url}}css/main.css">
    <link rel="stylesheet" href="{{& base-url}}css/custom.css">
    {{#stylemodule}}
    <link rel="stylesheet" href="{{& base-url}}css/{{stylemodule}}.css">
    {{/stylemodule}}
    
    <link rel="apple-touch-icon" sizes="180x180" href="{{& base-url}}image/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="{{& base-url}}image/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="{{& base-url}}image/favicon/favicon-16x16.png">
    <link rel="manifest" href="{{& base-url}}image/favicon/site.webmanifest">
    <link rel="icon" href="{{& base-url}}favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="{{& base-url}}favicon.ico" type="image/x-icon" />
    {{> _headerSchema}}
</head>

<body>
     <header>
        <h1 id="title">{{header}}</h1>
        <summary>{{& summary}}</summary>
    </header>
    <nav>
        {{> _menu}}
    </nav>
    <main>
