<div id="pnlSettingDialog" class="dialog">
    <div class="dialog-box">
        <div class="dialog-content">
            {{#isTurkish}}
            <header><span>Tema Ayarları</span></header>
            {{/isTurkish}}
            {{#isEnglish}}
            <header><span>Theme Options</span></header>
            {{/isEnglish}}
            <main>
                <table style="margin: auto;">
                    <thead>
                    {{#isTurkish}}
                        <th style="width: 150px;">Renkler</th>
                        <th style="width: 150px">Diller</th>
                    {{/isTurkish}}
                    {{#isEnglish}}
                        <th style="width: 150px;">Colors</th>
                        <th style="width: 150px">Languages</th>
                    {{/isEnglish}}
                    </thead>
                    <tbody>
                        <tr>
                            <td style="text-align: left; padding-left: 5%;">
                                <input id="rbColoraqua" name="color" type="radio" value="aqua" />
                                <label for="rbColoraqua">Aqua</label>
                                <br />
                                <input id="rbColorblack" name="color" type="radio" value="black" />
                                <label for="rbColorblack">Black</label>
                                <br />
                                <input id="rbColorblue" name="color" type="radio" value="blue" />
                                <label for="rbColorblue">Blue</label>
                                <br />
                                <input id="rbColorwhite" name="color" type="radio" value="white" />
                                <label for="rbColorwhite">White</label>
                            </td>
                            <td style="text-align: left; padding-left: 5%;">
                                <input id="rbLangTR" name="lang" type="radio" value="tr" data-culture="tr-TR" />
                                <label for="rbLangTR">Türkçe</label>
                                <br />
                                <input id="rbLangEN" name="lang" type="radio" value="en" data-culture="en-US" />
                                <label for="rbLangEN">English</label>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
            </main>
            <footer>
                {{#isTurkish}}
                <button id="btnSettingDialogOK" class="default" accesskey="t"><u>T</u>amam</button>
                {{/isTurkish}}
                {{#isEnglish}}
                <button id="btnSettingDialogOK" class="default" accesskey="o"><u>O</u>K</button>
                {{/isEnglish}}
            </footer>
        </div>
    </div>
</div>