{{> _pageHeader}}
            {{& content}}

            <ol>
                {{#pages}}
                {{#coaching}}
                <li><a href="{{& permalink}}">{{title}}</a></li>
                {{/coaching}}
                {{/pages}}
            </ol>
{{> _pageFooter}}