{{> _pageHeader}}
            {{& content}}
            <ol>
                {{#pages}}
                {{#coaching}}
                <li><a href="{{& permalink}}">{{header}}</a></li>
                {{/coaching}}
                {{/pages}}
            </ol>
{{> _pageFooter}}