{{> _pageHeader}}
            {{& content}}
            <ul>
                {{#pages}}
                {{#isPost}}
                <li><a href="{{& permalink}}">{{title}}</a></li>
                {{/isPost}}
                {{/pages}}
            </ul>
{{> _pageFooter}}