<!DOCTYPE html>
<html lang="{{site-language}}" data-theme="light" data-with="">

<head>
    <base href="{{& base-path}}">

    <meta charset="UTF-8">
    <meta name="description" content="{{description}}">
    <meta name="author" content="{{author}}">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{site-title-prefix}}{{title}}</title>

    <link rel="stylesheet" href="./css/main.css">
    <script src="./js/main.js"></script>

    <link rel="apple-touch-icon" sizes="180x180" href="./image/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./image/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./image/favicon/favicon-16x16.png">
    <link rel="manifest" href="./image/favicon/site.webmanifest">
</head>

<body>
    <header><span class="site-name">{{site-name}}</span></header>
    <nav id="navigation">
        {{> _menu}}
    </nav>
    <main>
        <article>
            {{& content}}
            
            <h2>Yazılar</h2>
            <ul>
            {{#pages}}
                {{#isPost}}
                <li><a href="{{permalink}}">{{title}}</a></li>
                {{/isPost}}
            {{/pages}}
            </ul>
        </article>
    </main>
    <footer>{{> _footer}}</footer>
    <div id="pnlThemeDialog" class="dialog">
        <div class="dialog-box">
            <div class="dialog-content">
                <header><span>Theme Options</span></header>
                <main>
                    <table style="margin: auto;">
                        <thead>
                            <th style="width: 150px;">Colors</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="text-align: left; padding-left: 25%;">
                                    <input id="rbColoraqua" name="color" type="radio" value="aqua" />
                                    <label for="rbColoraqua">Aqua</label>
                                    <br />
                                    <input id="rbColorblack" name="color" type="radio" value="black" />
                                    <label for="rbColorblack">Black</label>
                                    <br />
                                    <input id="rbColorblue" name="color" type="radio" value="blue" />
                                    <label for="rbColorblue">Blue</label>
                                    <br />
                                    <input id="rbColorwhite" name="color" type="radio" value="white" />
                                    <label for="rbColorwhite">White</label>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <br />
                </main>
                <footer>
                    <button id="btnThemeDialogOK" class="default" accesskey="o"><u>O</u>K</button>
                </footer>
            </div>
        </div>
    </div>
</body>

</html>