{{> _pageHeader}}
    {{& content}}
    
    <div class="card-container">
    {{#labs}}
        <div class="card">
            {{#image}}
            <img src="{{image}}" alt="{{title}}">
            {{/image}}

            {{^image}}
            <img src="../image/lab-imageless.jpg" alt="{{title}}">
            {{/image}}      
            <div class="card-content">
                <h5>{{title}}</h5>
                <ul>
                {{#pages}}
                    <li><a href="{{permalink}}">{{header}}</a></li>
                {{/pages}}
                </ul>
            </div>
        </div>  
    {{/labs}}
    </div>
    
{{> _pageFooter}}