{{> _pageHeader}}
    {{& content}}
    {{#labs}}
        <h2>{{title}}</h2>
        <ul>
        {{#pages}}
            <li><a href="{{permalink}}">{{title}}</a></li>
        {{/pages}}
        </ul>       
    {{/labs}}
{{> _pageFooter}}