{{> _pageHeader}}
            {{#image}}
            <img src="{{& image}}" alt="{{title}} " />
            {{/image}}
            
            {{& content}}

            <ol>
                {{#pages}}
                {{#notes}}
                <li><a href="{{& permalink}}">{{title}}</a></li>
                {{/notes}}
                {{/pages}}
            </ol>
{{> _pageFooter}}