{{> _pageHeader}}
            {{& content}}
            <ol>
                {{#pages}}
                {{#notes}}
                <li><a href="{{& permalink}}">{{title}}</a></li>
                {{/notes}}
                {{/pages}}
            </ol>
{{> _pageFooter}}