{{> _pageHeader}}
            {{& content}}
            <footer>
            By <a href="./about-me.html">{{author}}</a> - <time pubdate datetime="{{publish-date-datetime}}" title="{{publish-date}}">{{publish-date}}</time>
            </footer>
{{> _pageFooter}}