{{> _pageHeader}}
            {{& content}}
            <footer>
            By {{#isTurkish}}<a href="about-me.html">{{/isTurkish}}{{#isEnglish}}<a href="en/about-me.html">{{/isEnglish}}{{author}}</a> - <time pubdate datetime="{{publish-date-datetime}}" title="{{publish-date}}">{{publish-date}}</time>
            </footer>
{{> _pageFooter}}