{{> _pageHeader}}
            {{& content}}
            <ol>
                {{#pages}}
                {{#projects}}
                <li><a href="{{& permalink}}">{{title}}</a></li>
                {{/projects}}
                {{/pages}}
            </ol>
{{> _pageFooter}}