<!DOCTYPE html>
<html lang="{{site-language}}">
<head>
    <base href="{{& base-url}}">
    <title>{{& new_permalink}}</title>
    <meta charset="utf-8">
    <meta http-equiv="refresh" content="0; url={{& new_permalink}}">
    <link rel="canonical" href="{{& new_permalink}}" />
    <link rel="stylesheet" href="{{& base-url}}css/main.css">
</head>
<body></body>
</html>