<article id="post-{{id}}" class="post-card">
  <!-- Post Header -->
  <header class="post-header">

    {{#cover}}
    <div class="post-cover">
      <figure class="post-cover">
        <img src="{{.}}" alt="{{coverAlt}}" loading="lazy" lang="{{lang}}" {{#coverCaption}}title="{{.}}"{{/coverCaption}}>
      </figure>
    </div>
    {{/cover}}

    {{> components/component_post-meta }}
  </header>
  <!-- Post Header -->

  <!-- Post Content -->
  <div class="post-body">
    <h2>
      <a href="{{{canonical}}}" lang="{{lang}}"
        data-metric
        data-metric-name="post_card_click"
        data-metric-source="listing"
        data-metric-meta-post-id="{{id}}"
        data-metric-meta-title="{{title}}">
        {{title}}
      </a>
    </h2>

    {{#header.extract}}
    <p lang="{{lang}}">{{.}}</p>
    {{/header.extract}}
    {{^header.extract}}
    {{#description}}
    <p lang="{{lang}}">{{.}}</p>
    {{/description}}
    {{/header.extract}}

  </div>
  <!-- Post Content -->
</article>
