@layer components {
  section.category {
    @apply rounded-2xl border border-[var(--border)] bg-[var(--bg)] p-4;

    div.category-listing {
      @apply flex flex-col gap-4 justify-around;
    }

    article.post-card {
      @apply rounded-2xl border border-[var(--border)] bg-[var(--bg-elev)] p-4 mb-4;

      header.post-header {
        @apply bg-[var(--bg-elev)];

        div.post-meta {
          @apply mt-1;
        }
      }
    }

    article.post-card:last-child {
      margin-bottom: 0px;
    }

    div.category-listing article.post-card {
      margin-bottom: 0;
    }
  }

  @media (min-width: 768px) {
    section.category {
      @apply max-w-[680px];

      div.category-listing {
        @apply flex-row-reverse flex-wrap gap-6;
      }

      div.category-listing article.post-card {
        flex-basis: calc(50% - 0.75rem);
        max-width: calc(50% - 0.75rem);
      }
    }
  }

  @media (min-width: 600px) {
    section.category.home {
      article {
        header.post-header {
          width: 70%;
          margin-inline: auto;
        }
      }
    }
  }

  @media (min-width: 768px) {
    section.category.home {
      article {
        @apply flex justify-between;

        header.post-header {
          flex-basis: calc(50% - 0.75rem);
          max-width: calc(50% - 0.75rem);
          margin-inline: unset;
          width: unset;
        }

        div.post-body {
          @apply flex flex-col rounded-2xl  p-4 justify-start bg-[var(--bg)];
          flex-basis: calc(50% - 0.75rem);
          max-width: calc(50% - 0.75rem);
        }
      }
    }
  }
}
