@layer components {
  section.category {
    @apply bg-[var(--bg)];
    max-width: 100%;

    div.collection-content {
      padding: calc(var(--spacing) * 4);
      border-radius: var(--radius-2xl);
      border-style: var(--tw-border-style);
      border-width: 1px;
      border-color: var(--border);
      background-color: var(--bg);
      margin-bottom: 1rem;
    }

    div.collection-content.no-content h1 {
      @apply m-0 uppercase;
    }

    div.category-listing {
      @apply flex flex-col gap-4 justify-around;

      article.post-card {
        @apply items-stretch;
      }
    }

    article.post-card {
      @apply rounded-2xl border border-[var(--border)] bg-[var(--bg-elev)] p-4 mb-4;

      header.post-header {
        @apply bg-[var(--bg-elev)];

        div.post-meta {
          @apply mt-1;
        }
      }

      div.post-body {
        @apply flex flex-col rounded-2xl p-4 justify-start bg-[var(--bg)] mt-4;

        h2 {
          @apply mt-0;
        }
      }
    }

    article.post-card:last-child {
      margin-bottom: 0px;
    }

    div.category-listing article.post-card {
      margin-bottom: 0;
      height: auto;
    }
  }

  section.category.home {
    h1 {
      @apply sr-only;
    }
  }

  @media (min-width: 600px) {
    section.category {
      article {
        @apply flex justify-between;

        header.post-header {
          flex-basis: calc(50% - 0.75rem);
          max-width: calc(50% - 0.75rem);
          margin-inline: unset;
          width: unset;
        }

        div.post-body {
          margin-top: 0px !important;
          flex-basis: calc(50% - 0.75rem);
          max-width: calc(50% - 0.75rem);
        }
      }
    }
  }

  @media (min-width: 960px) {
    section.category {
      flex-wrap: wrap;
      display: flex;
      gap: 1rem;
      justify-content: center;

      div.collection-content {
        margin-bottom: unset;
        width: 100%;
      }

      div.category-listing {
        @apply flex-row justify-center flex-wrap;

        article {
          flex-basis: calc(50% - 0.75rem);
          max-width: calc(50% - 0.75rem);
          margin-bottom: unset;

          header.post-header {
            div.post-meta {
              dl.post-meta__grid {
                @apply flex-col;
              }
            }
          }
        }
      }
    }

    section.category.home {
      article:first-of-type {
        flex-basis: calc(100% - 0.75rem);
        max-width: calc(100% - 0.75rem);
        margin-bottom: unset;
      }

      article:not(:first-of-type) {
        flex-basis: calc(50% - 0.75rem);
        max-width: calc(50% - 0.75rem);
        margin-bottom: unset;

        header.post-header {
          div.post-meta {
            dl.post-meta__grid {
              @apply flex-col;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1280px) {
    section.category {
      flex-wrap: wrap;
      display: flex;
      gap: 1rem;
      justify-content: center;

      div.category-listing {
        @apply justify-start;

        article {
          flex-basis: calc(33% - 0.75rem);
          max-width: calc(33% - 0.75rem);
          margin-bottom: unset;
        }
      }
    }

    section.category.home {
      article:first-of-type {
        flex-basis: calc(66% - 0.75rem);
        max-width: calc(66% - 0.75rem);
        margin-bottom: unset;
      }

      article:not(:first-of-type) {
        flex-basis: calc(33% - 0.75rem);
        max-width: calc(33% - 0.75rem);
        margin-bottom: unset;
      }
    }
  }

  @media (min-width: 1536px) {
    section.category {
      flex-wrap: wrap;
      display: flex;
      gap: 1rem;
      justify-content: center;

      div.category-listing {
        article {
          flex-basis: calc(33% - 0.75rem);
          max-width: calc(33% - 0.75rem);
          margin-bottom: unset;

          header.post-header {
            div.post-meta {
              dl.post-meta__grid {
                @apply flex-row;
              }
            }
          }
        }
      }
    }

    section.category.home {
      article:first-of-type {
        flex-basis: calc(66% - 0.75rem);
        max-width: calc(66% - 0.75rem);
        margin-bottom: unset;
      }

      article:not(:first-of-type) {
        flex-basis: calc(33% - 0.75rem);
        max-width: calc(33% - 0.75rem);
        margin-bottom: unset;

        header.post-header {
          div.post-meta {
            dl.post-meta__grid {
              @apply flex-row;
            }
          }
        }
      }
    }
  }
}
