@layer components {
  section.category {
    @apply bg-[var(--bg)] max-w-full;

    div.collection-content {
      padding: calc(var(--spacing) * 4);
      border-radius: var(--radius-lg);
      border-style: var(--tw-border-style);
      border-width: 1px;
      border-color: var(--border);
      background-color: var(--bg);
      @apply mb-4;
    }

    div.collection-content.no-content h1 {
      @apply m-0 uppercase;
    }

    div.category-listing {
      @apply flex flex-col gap-4 justify-around;

      article.post-card {
        @apply items-stretch;
      }
    }

  }

  section.category.home {
    h1 {
      @apply sr-only;
    }
  }

  @media (min-width: 600px) {
    section.category {
      article {
        @apply flex justify-between;

        header.post-header {
          flex-basis: calc(50% - 0.75rem);
          max-width: calc(50% - 0.75rem);
          margin-inline: unset;
          width: unset;
        }

        div.post-body {
          margin-top: 0px !important;
          flex-basis: calc(50% - 0.75rem);
          max-width: calc(50% - 0.75rem);
        }
      }
    }
  }

  @media (min-width: 960px) {
    section.category {
      @apply flex flex-wrap gap-4 justify-center;

      div.collection-content {
        @apply mb-0 w-full;
      }

      div.category-listing {
        @apply flex-row justify-center flex-wrap;

        article {
          flex-basis: calc(50% - 0.75rem);
          max-width: calc(50% - 0.75rem);
          @apply mb-0;

          header.post-header {
            div.post-meta {
              dl.post-meta__grid {
                @apply flex-col;
              }
            }
          }
        }
      }
    }

    section.category.home {
      article:first-of-type {
        flex-basis: calc(100% - 0.75rem);
        max-width: calc(100% - 0.75rem);
        @apply mb-0;
      }

      article:not(:first-of-type) {
        flex-basis: calc(50% - 0.75rem);
        max-width: calc(50% - 0.75rem);
        @apply mb-0;

        header.post-header {
          div.post-meta {
            dl.post-meta__grid {
              @apply flex-col;
            }
          }
        }
      }
    }
  }

  @media (min-width: 1280px) {
    section.category {
      @apply flex flex-wrap gap-4 justify-center;

      div.category-listing {
        @apply justify-center;

        article {
          flex-basis: calc(33% - 0.75rem);
          max-width: calc(33% - 0.75rem);
          @apply mb-0;
        }
      }
    }

    section.category.home {
      article:first-of-type {
        flex-basis: calc(66% - 0.75rem);
        max-width: calc(66% - 0.75rem);
        @apply mb-0;
      }

      article:not(:first-of-type) {
        flex-basis: calc(33% - 0.75rem);
        max-width: calc(33% - 0.75rem);
        @apply mb-0;
      }
    }
  }

  @media (min-width: 1536px) {
    section.category {
      @apply flex flex-wrap gap-4 justify-center;

      div.category-listing {
        article {
          flex-basis: calc(33% - 0.75rem);
          max-width: calc(33% - 0.75rem);
          @apply mb-0;

          header.post-header {
            div.post-meta {
              dl.post-meta__grid {
                @apply flex-row;
              }
            }
          }
        }
      }
    }

    section.category.home {
      article:first-of-type {
        flex-basis: calc(66% - 0.75rem);
        max-width: calc(66% - 0.75rem);
        @apply mb-0;
      }

      article:not(:first-of-type) {
        flex-basis: calc(33% - 0.75rem);
        max-width: calc(33% - 0.75rem);
        @apply mb-0;

        header.post-header {
          div.post-meta {
            dl.post-meta__grid {
              @apply flex-row;
            }
          }
        }
      }
    }
  }
}
