@layer components {
  section.category {
    @apply rounded-2xl border border-[var(--border)] bg-[var(--bg)] p-4;

    article.post-card {
      @apply rounded-2xl border border-[var(--border)] bg-[var(--bg-elev)] p-4 mb-4;

      header.post-header {
        @apply bg-[var(--bg-elev)];

        div.post-meta {
          @apply mt-1;
        }
      }
    }

    article.post-card:last-child {
      margin-bottom: 0px;
    }
  }

  @media (min-width: 768px) {
    section.category {
      article.post-card {
        @apply max-w-1/2;
      }
    }
  }
}
