@layer components {
  section.category {
    @apply rounded-2xl border border-[var(--border)] bg-[var(--bg)] p-4;

    div.category-listing {
      @apply flex flex-col gap-4 justify-around;
    }

    article.post-card {
      @apply rounded-2xl border border-[var(--border)] bg-[var(--bg-elev)] p-4 mb-4;

      header.post-header {
        @apply bg-[var(--bg-elev)];

        div.post-meta {
          @apply mt-1;
        }
      }
    }

    article.post-card:last-child {
      margin-bottom: 0px;
    }

    div.category-listing article.post-card {
      margin-bottom: 0;
    }
  }

  @media (min-width: 768px) {
    section.category {
      div.category-listing {
        @apply flex-row-reverse flex-wrap gap-6;
      }

      div.category-listing article.post-card {
        flex-basis: calc(50% - 0.75rem);
        max-width: calc(50% - 0.75rem);
      }
    }
  }

  @media (min-width: 1024px) {
    section.category {
      div.category-listing {
        @apply flex-row-reverse flex-wrap gap-4;
      }

      div.category-listing article.post-card {
        flex-basis: calc(33.3% - 0.75rem);
        max-width: calc(33.3% - 0.75rem);
      }
    }
  }
}
