@layer components {
  .post-meta {
    @apply py-4 px-3;
    background: var(--bg);
    /* border-radius: var(--radius-sm); */
  }

  .post-meta__grid {
    @apply flex gap-4 justify-around;
  }

  .post-meta__item {
    @apply flex flex-col gap-1.5 text-center;
  }

  .post-meta__item dt {
    @apply uppercase text-xs tracking-wider;
    font-family: var(--font-mono);
    color: var(--muted);
    letter-spacing: 0.1em;
  }

  .post-meta__item dd {
    @apply text-sm font-semibold;
    color: var(--ink);
  }
}
