@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&family=Inter:wght@400;500;600&display=swap");
@import "tailwindcss";
@import "./base.css";
@import "./typography.css";
@import "./button.css";
@import "./page.css";
@import "./category.css";
