<footer class="site-footer">
  <div class="footer-wrapper">

    <div class="footer-tags">
      <ul>
        {{#footer.tags}}
        <li>
          <a class="btn btn--xs btn--tone-sage" href="{{{url}}}" data-i18n="footer.tags.{{key}}">
            {{label}}
          </a>
        </li>
        {{/footer.tags}}
      </ul>
    </div>
    
    <div class="footer-policies">
    {{#footer.policies}}
      <a class="btn btn--md btn--fill btn--tone-brand" href="{{{url}}}"
          data-i18n="footer.policies.{{key}}">
          {{label}}
        </a>
    {{/footer.policies}}
    </div>

    <div class="footer-social">
    {{#footer.social}}
      <a class="btn btn--sm btn--tone-brand btn--icon-left btn--tone-{{tone}}" href="{{{url}}}"
        {{#external}}rel="noopener noreferrer" target="_blank"{{/external}}>
        {{{icon}}}
        <span data-i18n="footer.social.{{key}}">{{label}}</span>
      </a>
    {{/footer.social}}
    </div>

    <p class="copyright">
      © <span data-year>{{site.year}}</span> - <span data-i18n="footer.tagline">{{footer.tagline}}</span>
    </p>
  </div>
</footer>
