<footer class="site-footer">
  <div class="footer-wrapper">

    <div class="footer-tags">
      <ul>
        {{#footer.tags}}
        <li>
          <a class="btn btn--xs btn--tone-sage btn--icon-left" href="{{{url}}}" data-i18n="footer.tags.{{key}}">
            <svg aria-hidden="true">
              <use href="/assets/svg/icons.svg#icon-bookmark"></use>
            </svg>
            <span lang="{{lang}}">{{label}}</span>
          </a>
        </li>
        {{/footer.tags}}
      </ul>
    </div>
    
    <div class="footer-policies">
    {{#footer.policies}}
      <a class="btn btn--md btn--fill btn--tone-brand btn--icon-left" href="{{{url}}}"
          data-i18n="footer.policies.{{key}}">
          <svg aria-hidden="true">
            <use href="/assets/svg/icons.svg#icon-shield-check"></use>
          </svg>
          <span lang="{{lang}}">{{label}}</span>
        </a>
    {{/footer.policies}}
    </div>

    <div class="footer-social">
    {{#footer.social}}
      <a class="btn btn--md btn--tone-brand btn--icon-left btn--tone-{{tone}}" href="{{{url}}}"
        {{#external}}rel="noopener noreferrer" target="_blank"{{/external}}>
        {{{icon}}}
        <span data-i18n="footer.social.{{key}}" lang="{{lang}}">{{label}}</span>
      </a>
    {{/footer.social}}
    </div>

    <p class="copyright">
      © <span data-year>{{site.year}}</span> - <span data-i18n="footer.tagline">{{footer.tagline}}</span>
    </p>
  </div>

  <script class="easter-egg">
    var data = {{{easterEgg}}};
  </script>
</footer>
